*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f5f7fa;
}

nav{
    background-color: #0a2342;
    color: white;
    text-align: center;
    padding: 20px;
}

nav h1{
    font-size: 32px;
}

header{
    text-align: center;
    padding: 35px 20px;
}

header h1{
    color: #0a2342;
    font-size: 45px;
    margin-bottom: 10px;
}

header p{
    color: #666;
    font-size: 18px;
}

.mainContainer{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 45px;
    padding-bottom: 40px;
}
.contact-box{
    flex: 0.6;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    border-top: 5px solid #28a745;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 400px;

}

.contact-box h3{
    color: #28a745;
    margin-bottom: 10px;
}

.contact-box p{
    margin-bottom: 15px;
}

.todo-box{
    flex: 1;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    border-top: 5px solid #2196f3;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.todo-box h3{
    color: #2196f3;
    margin-bottom: 20px;
}

label{
    margin-top: 15px;
        display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button{
    border: none;
    border-radius: 5px;
    padding: 12px 18px;
    cursor: pointer;
}

form button{
    width: 100%;
    background-color: #28a745;
    color: white;
    margin-top: 10px;
}

.takeInput{
    display: flex;
    gap: 10px;
}

.takeInput input{
    flex: 1;
}

.takeInput button{
    background-color: #2196f3;
    color: white;
}

#taskList{
    list-style: none;
    margin-top: 20px;
}

#taskList li{
    background-color: #f1f1f1;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message{
    margin-top: 15px;
    font-weight: bold;
}

footer{
    background-color: #0a2342;
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}

@media(max-width: 768px){

    .mainContainer{
        flex-direction: column;
    }

    .takeInput{
        flex-direction: column;
    }

    header h1{
        font-size: 32px;
    }
}